---
import TableOfContent from "@components/Blog/TableOfContent.astro";
import MainLayout from "./MainLayout.astro";
import type { CollectionEntry } from "astro:content";
import "@styles/blogStyles.css";
import ScrollToTop from "@components/ScrollToTop.astro";

type Props = {
  title: string;
  entry: CollectionEntry<"blog">;
};
const props = Astro.props;
const entry = props.entry;

const { Content, headings, remarkPluginFrontmatter } = await entry.render();
const date = entry.data.date.toLocaleDateString(undefined, {
  dateStyle: "long",
});

const minuteReads = remarkPluginFrontmatter.minutesRead;
---

<MainLayout title={props.title}>
  <main class="flex flex-col justify-center gap-y-1">
    <section class="bg-overlay-light p-3 dark:bg-overlay-dark">
      <h1 class="text-3xl font-bold text-gold-light dark:text-gold-dark">
        {entry.data.title}
      </h1>
      <p class="text-md font-semibold md:text-lg">{date} / {minuteReads}</p>
      <div
        class="flex items-center gap-x-2 text-subtle-light dark:text-subtle-dark"
      >
        <i class="bx bx-purchase-tag-alt text-md md:text-lg"></i>
        {
          entry.data.tags.map((tag) => (
            <a
              class="text-md underline hover:underline md:no-underline"
              href={`/tags/${tag}`}
            >
              #{tag}{" "}
            </a>
          ))
        }
      </div>
    </section>

    <TableOfContent headings={headings} />

    <article class="content bg-surface-light px-3 dark:bg-surface-dark">
      <img src={entry.data.heroImage?.src} alt={entry.data.heroImage?.alt} />
      <Content />
    </article>
  </main>
  <ScrollToTop />
</MainLayout>
