---
import TableOfContent from "@components/Blog/TableOfContent.astro";
import MainLayout from "./MainLayout.astro";
import type { CollectionEntry } from "astro:content";
import "@styles/blogStyles.css";

type Props = {
  title: string;
  entry: CollectionEntry<"blog">;
};
const props = Astro.props;
const entry = props.entry;

const { Content, headings, remarkPluginFrontmatter } = await entry.render();
const date = entry.data.date.toLocaleDateString(undefined, {
  dateStyle: "long",
});

const minuteReads = remarkPluginFrontmatter.minutesRead;
---

<MainLayout title={props.title}>
  <main class="flex flex-col justify-center gap-y-3 divide-y divide-dashed divide-accent-light dark:divide-accent divide-y-3">
    <section>
      <h1 class="text-3xl font-bold">{entry.data.title}</h1>
      <p class="text-md font-semibold md:text-lg">{date} / {minuteReads}</p>
      <div class="flex items-center gap-x-2">
        <i class="bx bx-purchase-tag-alt text-md md:text-lg"></i>
        {entry.data.tags.map((tag) => <a class="text-md underline md:no-underline hover:underline" href={`/tags/${tag}`}>#{tag} </a>)}
      </div>
    </section>

    <TableOfContent headings={headings} />

    <article class="content">
      <Content />
    </article>
  </main>
</MainLayout>
